* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: #222;
  color: #161616;
  font-family: 'Montserrat Variable', sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 2rem;
  width: 35%;
}

.instructions {
  color: #fff;
  font-size: 1.2rem;
}

.panel {
  border-radius: 7px;
  border: 1px solid #D5D8DE;
  background: #EBEBEB;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-items: center;
  padding: 1rem 1.3rem;
  flex-shrink: 0;
}

.toggle-panel {
  background: #EBEBEB;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat Variable', sans-serif;
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #323941;
  font-size: 0.8rem;
}

input, textarea {
  display: block;
  font-family: 'Montserrat Variable', sans-serif;
  margin-bottom: 1rem;
  padding: 0.4rem 0;
  width: 100%;
}

.experience-tab p {
  font-size: 0.8rem;
}

.CV-render {
  background-color: #ebebeb;
  padding: 2rem;
  width: 65%;
}