#root {
  display: flex;
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-family: 'Montserrat Variable', sans-serif;
}

.sidebar {
  width: 35%;
}

.CV-render {
  width: 65%;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  display: block;
  margin-bottom: 1rem;
  padding: 0.3rem 0;
  width: 90%;
}